//npm install bootstrap-sass@3.3.7

//colors
$color_mountain_meadow_approx: #18bc9c;
$white: white;
$color_pickled_bluewood_approx: #2c3e50;
$color_mountain_meadow_90_approx: rgba($color_mountain_meadow_approx, 0.9);

$color_gallery_approx: #eeeeee;
$color_ebony_clay_approx: #233140;
$color_shark_approx: #1a242f;
$color_mirage_approx: #161f29;
$color_elf_green_approx: #128f76;

//fonts
$font_0: Lato;
$font_1: Helvetica Neue;
$font_2: Helvetica;
$font_3: Arial;
$font_4: sans-serif;
$font_5: Montserrat;
$font_6: FontAwesome;

//@extend-elements
//original selectors
//h1, h2, h3, h4, h5, h6
%extend_1 {
  font-family: $font_5, $font_1, $font_2, $font_3, $font_4;
  text-transform: uppercase;
  font-weight: 700;
}

//original selectors
//hr.star-light, hr.star-primary
%extend_2 {
  padding: 0;
  border: none;
  border-top: solid 5px;
  text-align: center;
  max-width: 250px;
  margin: 25px auto 30px;
}

//original selectors
//hr.star-light:after, hr.star-primary:after
%extend_3 {
  content: "\f005";
  font-family: $font_6;
  display: inline-block;
  position: relative;
  top: -0.8em;
  font-size: 2em;
  padding: 0 0.25em;
}


body {
  font-family: $font_0, $font_1, $font_2, $font_3, $font_4;
  overflow-x: hidden;
}
p {
  font-size: 20px;
  &.small {
    font-size: 16px;
  }
}
a {
  color: $color_mountain_meadow_approx;
  &:hover,  &:focus,  &:active, &.active {
    color: $color_mountain_meadow_approx;
  }
}
h1 {
  @extend %extend_1;
}
h2 {
  @extend %extend_1;
}
h3 {
  @extend %extend_1;
}
h4 {
  @extend %extend_1;
}
h5 {
  @extend %extend_1;
}
h6 {
  @extend %extend_1;
}
hr {
  &.star-light {
    @extend %extend_2;
    border-color: $white;
    &:after {
      @extend %extend_3;
      background-color: $color_mountain_meadow_approx;
      color: $white;
    }
  }
  &.star-primary {
    @extend %extend_2;
    border-color: $color_pickled_bluewood_approx;
    &:after {
      @extend %extend_3;
      background-color: $white;
      color: $color_pickled_bluewood_approx;
    }
  }
}
.img-centered {
  margin: 0 auto;
}
header {
  margin-top: 50px;
  text-align: center;
  border-bottom: 20px solid $color_mountain_meadow_approx;
  color: $white;
}
@media(min-width: 768px) {
  header {
    margin-top: 100px;
  }
  .navbar-custom {
    padding: 25px 0;
    //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    transition: padding 0.3s;
    .navbar-brand {
      font-size: 2em;
      //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
      transition: all 0.3s;
    }
    &.affix {
      padding: 10px 0;
      .navbar-brand {
        font-size: 1.5em;
      }
    }
  }
}
.navbar-custom {
  background: $color_pickled_bluewood_approx;
  font-family: $font_5, $font_1, $font_2, $font_3, $font_4;
  text-transform: uppercase;
  font-weight: 700;
  border: none;
  .navbar-brand {
    color: $white;
    &:hover {
      color: $white;
    }
    &:focus {
      color: $white;
    }
    &:active {
      color: $white;
    }
    &.active {
      color: $white;
    }
  }
  .navbar-nav {
    letter-spacing: 1px;
    li {
      a {
        color: $white;
        &:hover {
          color: $color_mountain_meadow_approx;
        }
        &:focus {
          color: $white;
        }
        &:active {
          color: $white;
        }
      }
      &.active a {
        color: $white;
        background: $color_mountain_meadow_approx;
        &:hover {
          color: $white;
          background: $color_mountain_meadow_approx;
        }
        &:focus {
          color: $white;
          background: $color_mountain_meadow_approx;
        }
        &:active {
          color: $white;
          background: $color_mountain_meadow_approx;
        }
      }
    }
  }
  .navbar-toggle {
    color: $white;
    text-transform: uppercase;
    font-size: 10px;
    border-color: $white;
    &:hover {
      background-color: $color_mountain_meadow_approx;
      color: $white;
      border-color: $color_mountain_meadow_approx;
    }
    &:focus {
      background-color: $color_mountain_meadow_approx;
      color: $white;
      border-color: $color_mountain_meadow_approx;
    }
  }
}
section {
  padding: 100px 0;
  h2 {
    margin: 0;
    font-size: 3em;
  }
  &.success {
    background: $color_mountain_meadow_approx;
    color: $white;
  }
}
@media(max-width: 767px) {
  section {
    padding: 75px 0;
    &.first {
      padding-top: 75px;
    }
  }
}
#portfolio {
  .portfolio-item {
    margin: 0 0 15px;
    right: 0;
    .portfolio-link {
      display: block;
      position: relative;
      max-width: 400px;
      margin: 0 auto;
      .caption {
        background: $color_mountain_meadow_90_approx;
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
        transition: all ease 0.5s;
        &:hover {
          opacity: 1;
        }
        .caption-content {
          position: absolute;
          width: 100%;
          height: 20px;
          font-size: 20px;
          text-align: center;
          top: 50%;
          margin-top: -12px;
          color: $white;
          i {
            margin-top: -12px;
          }
          h3 {
            margin: 0;
          }
          h4 {
            margin: 0;
          }
        }
      }
    }
  }
  * {
    z-index: 2;
  }
}
@media(min-width: 767px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px;
  }
}
.floating-label-form-group {
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0.5em;
  border-bottom: 1px solid $color_gallery_approx;
  input {
    z-index: 1;
    position: relative;
    padding-right: 0;
    padding-left: 0;
    border: none;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 0;
    font-size: 1.5em;
    background: none;
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: none !important;
    resize: none;
  }
  textarea {
    z-index: 1;
    position: relative;
    padding-right: 0;
    padding-left: 0;
    border: none;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 0;
    font-size: 1.5em;
    background: none;
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: none !important;
    resize: none;
  }
  label {
    display: block;
    z-index: 0;
    position: relative;
    top: 2em;
    margin: 0;
    font-size: 0.85em;
    line-height: 1.764705882em;
    vertical-align: baseline;
    opacity: 0;
    //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    transition: top 0.3s ease,opacity 0.3s ease;
  }
  &:not(:first-child) {
    padding-left: 14px;
    border-left: 1px solid $color_gallery_approx;
  }
}
footer {
  color: $white;
  h3 {
    margin-bottom: 30px;
  }
  .footer-above {
    padding-top: 50px;
    background-color: $color_pickled_bluewood_approx;
  }
  .footer-col {
    margin-bottom: 50px;
  }
  .footer-below {
    padding: 25px 0;
    background-color: $color_ebony_clay_approx;
  }
}
.btn-outline {
  color: $white;
  font-size: 20px;
  border: solid 2px $white;
  background: transparent;
  //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  transition: all 0.3s ease-in-out;
  margin-top: 15px;
  &:hover {
    color: $color_mountain_meadow_approx;
    background: $white;
    border: solid 2px $white;
  }
  &:focus {
    color: $color_mountain_meadow_approx;
    background: $white;
    border: solid 2px $white;
  }
  &:active {
    color: $color_mountain_meadow_approx;
    background: $white;
    border: solid 2px $white;
  }
  &.active {
    color: $color_mountain_meadow_approx;
    background: $white;
    border: solid 2px $white;
  }
}
.btn-primary {
  color: $white;
  background-color: $color_pickled_bluewood_approx;
  border-color: $color_pickled_bluewood_approx;
  font-weight: 700;
  &:hover {
    color: $white;
    background-color: $color_shark_approx;
    border-color: $color_mirage_approx;
  }
  &:focus {
    color: $white;
    background-color: $color_shark_approx;
    border-color: $color_mirage_approx;
  }
  &:active {
    color: $white;
    background-color: $color_shark_approx;
    border-color: $color_mirage_approx;
    background-image: none;
  }
  &.active {
    color: $white;
    background-color: $color_shark_approx;
    border-color: $color_mirage_approx;
    background-image: none;
  }
  &.disabled {
    background-color: $color_pickled_bluewood_approx;
    border-color: $color_pickled_bluewood_approx;
    &:hover {
      background-color: $color_pickled_bluewood_approx;
      border-color: $color_pickled_bluewood_approx;
    }
    &:focus {
      background-color: $color_pickled_bluewood_approx;
      border-color: $color_pickled_bluewood_approx;
    }
    &:active {
      background-color: $color_pickled_bluewood_approx;
      border-color: $color_pickled_bluewood_approx;
    }
    &.active {
      background-color: $color_pickled_bluewood_approx;
      border-color: $color_pickled_bluewood_approx;
    }
  }
  .badge {
    color: $color_pickled_bluewood_approx;
    background-color: $white;
  }
}
.btn-primary[disabled] {
  background-color: $color_pickled_bluewood_approx;
  border-color: $color_pickled_bluewood_approx;
  &:hover {
    background-color: $color_pickled_bluewood_approx;
    border-color: $color_pickled_bluewood_approx;
  }
  &:focus {
    background-color: $color_pickled_bluewood_approx;
    border-color: $color_pickled_bluewood_approx;
  }
  &:active {
    background-color: $color_pickled_bluewood_approx;
    border-color: $color_pickled_bluewood_approx;
  }
  &.active {
    background-color: $color_pickled_bluewood_approx;
    border-color: $color_pickled_bluewood_approx;
  }
}
fieldset[disabled] {
  .btn-primary {
    background-color: $color_pickled_bluewood_approx;
    border-color: $color_pickled_bluewood_approx;
    &:hover {
      background-color: $color_pickled_bluewood_approx;
      border-color: $color_pickled_bluewood_approx;
    }
    &:focus {
      background-color: $color_pickled_bluewood_approx;
      border-color: $color_pickled_bluewood_approx;
    }
    &:active {
      background-color: $color_pickled_bluewood_approx;
      border-color: $color_pickled_bluewood_approx;
    }
    &.active {
      background-color: $color_pickled_bluewood_approx;
      border-color: $color_pickled_bluewood_approx;
    }
  }
  .btn-success {
    background-color: $color_mountain_meadow_approx;
    border-color: $color_mountain_meadow_approx;
    &:hover {
      background-color: $color_mountain_meadow_approx;
      border-color: $color_mountain_meadow_approx;
    }
    &:focus {
      background-color: $color_mountain_meadow_approx;
      border-color: $color_mountain_meadow_approx;
    }
    &:active {
      background-color: $color_mountain_meadow_approx;
      border-color: $color_mountain_meadow_approx;
    }
    &.active {
      background-color: $color_mountain_meadow_approx;
      border-color: $color_mountain_meadow_approx;
    }
  }
}
.btn-success {
  color: $white;
  background-color: $color_mountain_meadow_approx;
  border-color: $color_mountain_meadow_approx;
  font-weight: 700;
  &:hover {
    color: $white;
    background-color: $color_elf_green_approx;
    border-color: $color_elf_green_approx;
  }
  &:focus {
    color: $white;
    background-color: $color_elf_green_approx;
    border-color: $color_elf_green_approx;
  }
  &:active {
    color: $white;
    background-color: $color_elf_green_approx;
    border-color: $color_elf_green_approx;
    background-image: none;
  }
  &.active {
    color: $white;
    background-color: $color_elf_green_approx;
    border-color: $color_elf_green_approx;
    background-image: none;
  }
  &.disabled {
    background-color: $color_mountain_meadow_approx;
    border-color: $color_mountain_meadow_approx;
    &:hover {
      background-color: $color_mountain_meadow_approx;
      border-color: $color_mountain_meadow_approx;
    }
    &:focus {
      background-color: $color_mountain_meadow_approx;
      border-color: $color_mountain_meadow_approx;
    }
    &:active {
      background-color: $color_mountain_meadow_approx;
      border-color: $color_mountain_meadow_approx;
    }
    &.active {
      background-color: $color_mountain_meadow_approx;
      border-color: $color_mountain_meadow_approx;
    }
  }
  .badge {
    color: $color_mountain_meadow_approx;
    background-color: $white;
  }
}
.btn-success[disabled] {
  background-color: $color_mountain_meadow_approx;
  border-color: $color_mountain_meadow_approx;
  &:hover {
    background-color: $color_mountain_meadow_approx;
    border-color: $color_mountain_meadow_approx;
  }
  &:focus {
    background-color: $color_mountain_meadow_approx;
    border-color: $color_mountain_meadow_approx;
  }
  &:active {
    background-color: $color_mountain_meadow_approx;
    border-color: $color_mountain_meadow_approx;
  }
  &.active {
    background-color: $color_mountain_meadow_approx;
    border-color: $color_mountain_meadow_approx;
  }
}
.btn-social {
  display: inline-block;
  height: 50px;
  width: 50px;
  border: 2px solid $white;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 100%;
  text-align: center;
  font-size: 20px;
  line-height: 45px;
}
.scroll-top {
  position: fixed;
  right: 2%;
  bottom: 2%;
  width: 50px;
  height: 50px;
  z-index: 1049;
  .btn {
    font-size: 20px;
    width: 50px;
    height: 50px;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 100%;
    line-height: 28px;
  }
}
.portfolio-modal {
  .modal-content {
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 0;
    //Instead of the line below you could use @include background-clip($clip)
    background-clip: border-box;
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: none;
    border: none;
    min-height: 100%;
    padding: 100px 0;
    text-align: center;
    h2 {
      margin: 0;
      font-size: 3em;
    }
    img {
      margin-bottom: 30px;
    }
    .item-details {
      margin: 30px 0;
    }
  }
  .close-modal {
    position: absolute;
    width: 75px;
    height: 75px;
    background-color: transparent;
    top: 25px;
    right: 25px;
    cursor: pointer;
    &:hover {
      opacity: 0.3;
    }
    .lr {
      height: 75px;
      width: 1px;
      margin-left: 35px;
      background-color: $color_pickled_bluewood_approx;
      //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
      transform: rotate(45deg);
      z-index: 1051;
      .rl {
        height: 75px;
        width: 1px;
        background-color: $color_pickled_bluewood_approx;
        //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
        transform: rotate(90deg);
        z-index: 1052;
      }
    }
  }
  .modal-backdrop {
    opacity: 0;
    display: none;
  }
}
.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1;
}
.floating-label-form-group-with-focus label {
  color: $color_mountain_meadow_approx;
}
form .row:first-child .floating-label-form-group {
  border-top: 1px solid $color_gallery_approx;
}
.open .dropdown-toggle {
  &.btn-primary {
    color: $white;
    background-color: $color_shark_approx;
    border-color: $color_mirage_approx;
    background-image: none;
  }
  &.btn-success {
    color: $white;
    background-color: $color_elf_green_approx;
    border-color: $color_elf_green_approx;
    background-image: none;
  }
}
#skipnav a {
  padding: 6px;
  position: absolute;
  top: -40px;
  left: 0;
  color: $white;
  border-right: 1px solid $white;
  border-bottom: 1px solid $white;
  //Instead of the line below you could use @include border-bottom-right-radius($radius)
  border-bottom-right-radius: 8px;
  background: transparent;
  //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  transition: top 1s ease-out, background 1s linear;
  z-index: 2000;
  &:focus {
    position: absolute;
    left: 0;
    top: 0;
    background: $color_mountain_meadow_approx;
    outline: 0;
    //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    transition: top 0.1s ease-in, background 0.5s linear;
  }
}
div#maincontent {
  outline: none;
}
